{% for d in defines %}
struct {{d.name}} {
  {% for dec in d.decls -%}
  {{dec.type}} {{dec.name}};
  {% endfor -%}
};
{% endfor %}
{% for m in matches -%}
{% for c in m.cases -%}
{{c.type}} {{c.pats}}
{% endfor %}
{% endfor -%}