{% for d in defines %}
struct {{d.name}} {
  {% for dec in d.decls -%}
  {{dec.type}} {{dec.name}};
  {% endfor -%}
};
{% endfor %}
{% for m in matches -%}
{% for c in m.cases -%}
{% set d=deftab[c.type] -%}
if(
{%- for p in c.pats -%}
{%- if loop.index0 != 0 -%} && {%- endif -%}
{{m.expr}}.{{d[loop.index0][1]}} == {{p}}
{%- endfor -%}
)
{{c.block}}

{% endfor %}
{% endfor -%}